:root {
    --main-morado: #00204A;
    --main-morado-apagado: #334E73;
    --main-gris: #E1E2E4;
    --main-gris-oscuro: #474747;
    --main-azul-claro: #3686E6;
    --main-turquesa: #3ACACE;
}

/* Usar si se decide otra alternativa de diseño en el dropdown
Cuando se use en otras vistas simplemente cambiar el color de fondo
.drop-filler{
    background-color: var(--main-azul-claro);
    grid-row: 2 / span 2;
    width: 100vw;
    grid-column: 1 / -1;
    position: relative;
    left: calc(-50vw + 50%);
}
*/

.main-container{
    width: 100vw;
    padding: 35px 0px;
    background-color: var(--main-morado-apagado);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutContainer{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0fr;
    grid-template-areas: "text1 img1"
                         "img2 text2"
                         "text3 img3"
                         "img4 text4"
                         "text5 img5";
    grid-gap:55px;
    padding: 0 55px;
}

#text1{
    grid-area:text1;
}

#img1{
    grid-area:img1;
}

#text2{
    grid-area:text2;
}

#img2{
    grid-area:img2;
}

#text3{
    grid-area:text3;
}

#img3{
    grid-area:img3;
}

#text4{
    grid-area:text4;
}

#img4{
    grid-area:img4;
}

#text5{
    grid-area:text5;
}

#img5{
    grid-area:img5;
}

.aboutText{
    font-family: 'Rubik', sans-serif;
    color: white;
}

.aboutText h1{
    font-size:36px;
}

.aboutText p{
    font-style: italic;
    font-size:24px;
}

.aboutText a{
    color:white;
    background-color: var(--main-azul-claro);
    border-radius: 10px;
    padding: 2px 10px;
    font-size: 16px;
}

.aboutText a:hover{
    opacity: 0.7;
    background-color: var(--main-morado);
}

.aboutImg{
    margin:auto;
    max-width:100%;
    height:auto;
}

@media (max-width: 1400px){
    .aboutContainer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 0fr);
        grid-template-areas: "img1"
                             "text1"
                             "img2" 
                             "text2"
                             "img3"
                             "text3" 
                             "img4" 
                             "text4"
                             "img5"
                             "text5";
        grid-gap:0;
        padding: 0;
        margin-top: 0px;
    }

    .main-container{
        padding: 0;
    }

    .aboutText{
        padding: 0px 25px;
    }
}