:root {
    --main-morado: #00204A;
    --main-morado-apagado: #334E73;
    --main-gris: #E1E2E4;
    --main-gris-oscuro: #474747;
    --main-azul-claro: #3686E6;
    --main-turquesa: #3ACACE;
}

/* Usar si se decide otra alternativa de diseño en el dropdown
Cuando se use en otras vistas simplemente cambiar el color de fondo
.drop-filler{
    background-color: var(--main-azul-claro);
    grid-row: 2 / span 2;
    width: 100vw;
    grid-column: 1 / -1;
    position: relative;
    left: calc(-50vw + 50%);
}
*/

.main-container{
    width: 100vw;
    height: 85vh;
    background-color: var(--main-morado-apagado);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.indexContainer{
    display: grid;
    grid-template-columns: 0.40fr 0.60fr;
    grid-template-rows: 0fr;
    grid-template-areas: "titulo img";
    grid-gap:35px;
    padding: 0 35px;
}

.indexText{
    grid-area:titulo;

    font-family: 'Rubik', sans-serif;
    color: white;
}

.indexText h1{
    font-size:36px;
}

.indexText p{
    font-style: italic;
    font-size:24px;
}

.indexText a{
    color:white;
    background-color: var(--main-azul-claro);
    border-radius: 10px;
    padding: 2px 10px;
    font-size: 16px;
}

.indexText a:hover{
    opacity: 0.7;
    background-color: var(--main-morado);
}

.indexImg{
    grid-area:img;

    margin:auto;
}