:root {
    --main-morado: #00204A;
    --main-morado-apagado: #334E73;
    --main-gris: #E1E2E4;
    --main-gris-oscuro: #474747;
    --main-azul-claro: #3686E6;
    --main-turquesa: #3ACACE;
}

/* Usar si se decide otra alternativa de diseño en el dropdown
Cuando se use en otras vistas simplemente cambiar el color de fondo
.drop-filler{
    background-color: var(--main-gris);
    grid-row: 2 / span 2;
    width: 100vw;
    grid-column: 1 / -1;
    position: relative;
    left: calc(-50vw + 50%);
}
*/
.main-container{
    width: 100vw;
    background-color: var(--main-gris);
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 0fr);
    grid-template-areas: "tabla" "paginacion";
    
    justify-items: center;
    
}

.notify{  
    position:absolute;
    top:0px;

    width:100%;
    height:0;  
    box-sizing:border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 20px;
    color:white;  
    background:#3ACACE;
    
    overflow:hidden;
    transition:height .2s;

}

.active{  
  height:50px;
}

#users-table {
    grid-area: tabla;
    
    align-self: center;
    font-family: 'Rubik', sans-serif;
    border-collapse: collapse;
    width: 85vw;
}
  
#users-table td, #users-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#users-table tr:nth-child(even){background-color: #f2f2f2;}
#users-table tr:hover {background-color: #ddd;}

#users-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--main-morado);
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
}

a{ outline: 0; }
td > a:link{color: var(--main-morado);}
td > a:visited{
    color: var(--main-morado);
  }

td > a:hover {
    background-color: var(--main-morado);
    padding: 5px 10px;
    color: #fff;
    border-radius: 6px;
}

.alias-links{
    color: var(--main-morado);
    text-decoration: none;
}

.alias-links:hover{
    background: none;
    color: var(--main-azul-claro);
    padding: 0px;
}

.delete-link{
    cursor: pointer;
}

#pagnav{grid-area: paginacion;}
#pagnav > nav{
    display: flex;
    justify-content: center;
    width: 100vw;
}

.pagination{
    list-style-type: none;
    display: flex;
    justify-self: center;
    margin: 20px 0px;
    padding-left: 0px;
}

.page-item{
    padding: 15px 20px;
    background-color: var(--main-morado);
    height: auto;

    border-radius: 2px;
    margin: 4px;

    cursor: pointer;
}

.page-item:hover{
    background-color: #fff;
}

.page-item > a, a:active{
    color: #fff;

    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.page-item:hover > a, a:active{
    color: var(--main-morado);
}

.page-item + .active{
    color: #fff;

    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    background-color: var(--main-morado-apagado);
}



@media (max-width: 800px){
    .description_cells, #description_cells{
        display: none;
    }
}

@media (max-width: 650px) {
    .username_cells, #username_cells{
        display: none;
    }
}