:root {
    --main-morado: #00204A;
    --main-morado-apagado: #334E73;
    --main-gris: #E1E2E4;
    --main-gris-oscuro: #474747;
    --main-azul-claro: #3686E6;
    --main-turquesa: #3ACACE;
}

/* Usar si se decide otra alternativa de diseño en el dropdown
Cuando se use en otras vistas simplemente cambiar el color de fondo
.drop-filler{
    background-color: var(--main-gris);
    grid-row: 2 / span 2;
    width: 100vw;
    grid-column: 1 / -1;
    position: relative;
    left: calc(-50vw + 50%);
}
*/
.main-container{
    width: 100vw;
    background-color: var(--main-gris);

    display: flex;
    justify-content: center;
}

.group-container{
    width: 60%;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 8px;

    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(5, 0fr);
    grid-template-areas: "nombre nombre"
                        "imagen descripcion"
                        "title_intg title_intg"
                        "integrantes integrantes"
                        "turnoAsig   turnoAsig";

    justify-items: center;
    align-items: center;
    
    padding: 50px;
    box-sizing: border-box;
    margin-bottom: 50px;

}

.group-name{grid-area: nombre;}
.students-title{grid-area: title_intg;}

.group-name, .students-title{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: var(--main-morado);

    margin: 15px 0px;
}

.group-info-container > div{
    padding: 0px 10px;
    margin-top: 20px;
}

.group-description{
    grid-area: descripcion;
    justify-self: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: var(--main-gris-oscuro);
    padding: 20px;

}

.group-image{
    grid-area: imagen;
    justify-self: right;
    height: 150px;
    width: 150px;
    background-color: var(--main-gris);
    font-size: 1em;
    box-sizing: border-box;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

.group-integrantes{
    grid-area: integrantes;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

    width: 100%;
}

.group-student{
    display: flex;
    align-items: center;
    font-family: 'Roboto', sanse-serif;
    color: var(--main-gris-oscuro);

    background-color: #fff;
    padding: 20px;
    border-radius: 2px;

    min-width: 35%;
    margin: 1%;
}

.group-student-info{
    padding: 0px 10px;
}

.group-student-photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main-gris);
}

.turno_asig{
    grid-area: turnoAsig;

    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.turno_asig > div{
    padding: 10px 0px;
}

.group-turn, .group-subject{
    display: flex;
    align-items: center;
}

.turno_asig label{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: var(--main-gris-oscuro);
    margin: 0px 5px;
}

.turno_asig span{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: var(--main-morado);
}

@media (max-width: 900px){
    .group-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 0fr);
        grid-template-areas:  "nombre"
                              "imagen"
                              "descripcion"
                              "integrantes";
    }
}

/*
#signup-form{
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
}

.signup-container > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;

    padding: 10px 0px;
}

.left{
    margin-right: 20px;
    justify-self: right;
}

.right{
    margin-left: 20px;
    justify-self: left;
}

#title{
    grid-area: titulo;
    
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: var(--main-morado);

    /*white-space: nowrap;
    word-break: break-all;
}

label{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: var(--main-gris-oscuro);
    opacity: 80%;

    padding: 8px 0px;
    white-space: nowrap;
}

.signup-container input, select, textarea{
    border-radius: 0px;
    text-decoration: none;
    border: 2px solid rgba(125, 125, 125, 0.57);
    padding: 8px;
}

.signup-container select{
    background: #fff;
}

.signup-container input:focus, textarea:focus{
    border: 3px solid var(--main-azul-claro);
    color: var(--main-morado);
}

.signup-container textarea{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    resize: vertical;
    min-height: 200px;
}

#name{grid-area: nombre;}
#lastName{grid-area: apellidos;}
#email{grid-area: correo; width: 68.5%;}
#password{grid-area: pass;}
#repassword{grid-area: repass;}
#phone{grid-area: telefono;}
#alias{grid-area: alias;}
#degree{
    grid-area: grado;
    margin-right: -72px;
    width: 80%;
}
#course{
    grid-area: curso;
    justify-self: center;
    width: 50%;
    margin-right: 17%;
}
#description{grid-area: desc; width: 68.5%;}

#btnSignup{
    background-color: var(--main-morado);
    grid-area: btn;
    justify-self: center;
    width: 70%;
    border-radius: 16px;
    margin-top: 15px;
    padding: 12px;

    cursor: pointer;
}

#btnSignup > a{
    color: #fff;
    font-size: 24px;
}

#btnSignup:hover{
    background-color: #fff;
}

#btnSignup:hover a{
    color: var(--main-morado);
}

@media (max-width: 1400px) {

    .main-container{background-color: var(--main-gris-oscuro);}
    .signup-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 0fr);
        grid-template-areas: "titulo"
                             "nombre"
                             "apellidos"
                             "correo"
                             "pass"
                             "repass"
                             "telefono"
                             "alias"
                             "grado"
                             "curso"
                             "desc"
                             "btn";

        width: 100vw;
        box-shadow: none;
        border-radius: 0;
        background-color: var(--main-gris-oscuro);
    }

    #title > h1{
        color: #fff;
    }

    .signup-container label{
        color: #fff;
        opacity: 100;
    }

    .left, .right{
        margin: 0;
        justify-self: center;
    }

    #email, #degree, #course, #description{width: 65%; margin: 0;}

    #btnSignup{
        background-color: #fff;
        width: 65%;
        border-radius: 4px;
    }
    #btnSignup > a{color: var(--main-gris-oscuro);}
    #btnSignup > a:hover{color: var(--main-gris);}
}

*/